<h1>Welcome <%= @user.name %> </h1>
<div class="container">        
        <h3>Add a Product</h3>   
       
            <div>   
              <label>user Name:</label>   
              <%= @user.name %>   
            </div>   
  
            <div>   
              <label>email:</label>   
              <%= @user.email%>   
            </div>   
            
            <div>   
              <label>title:</label>   
              <%= @user.title%>   
            </div>   
         
      <div>   
        <%= link_to 'Back', { controller: 'users', action: 'index'} %>   
      </div>   
</div>  